/*overlay*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 500;
    display: none; /* Initially hidden */
}
.overlay.active {
    display: block; /* Show overlay when active */
}

/*sidebar menu knop*/
.menu-btn {
    position: fixed;
    display: none;
    margin: 1.2rem;
    width: 50px;
    height: 50px;
    background: none;
    color: rgb(209, 180, 180);
    border: none;
    cursor: pointer;
    z-index: 1000;
    transition: left 0.3s ease;
}
.menu-btn:hover span{
    background: #fad0c4;
}
.menu-btn span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background: rgb(179, 158, 158);
    border-radius: 2px;
    transition: 
        transform 0.3s ease,
        opacity 0.2s ease,
        background-color 0.2s ease;
}

/* Lijnen positioneren */
.menu-btn span:nth-child(1) { top: 0; }
.menu-btn span:nth-child(2) { top: 11px; }
.menu-btn span:nth-child(3) { top: 22px; }

.menu-btn.open span:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
}

.menu-btn.open span:nth-child(2) {
    opacity: 0;
}

.menu-btn.open span:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}
/* Knop verschuift mee */
.top-header.closed + .menu-btn {
    left: 0;
}

.top-header:not(.closed) + .menu-btn {
    left: 260px;
}
