.keuze-container {
    margin: 1.5rem 0px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.keuze-container h2 {
    margin: 0;
    font-family: var(--font-sans);
    font-size: 1.4rem;
}
.radio-keuze {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.radio-keuze label {
    font-family: var(--font-mono);
    font-size: 1rem;
    color: #e4e4e4;
}
.radio-keuze input {
    width: auto;
    margin-right: 10px;
}

/* Annual Report Table Styles */
.report-output {
    padding: 1rem;
}

/*.annual-report-container {
    display: flex;
    justify-content: center;
    overflow-x: auto;
}*/

.annual-report-table {
    position: relative;
    width: 100%;
    margin: 0;
    border-collapse: collapse;
    background: var(--card-bg);
    color: #e4e4e4;
    /*font-family: var(--font-mono);*/
    font-size: 0.95rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    table-layout:fixed;
}

.annual-report-table thead {
    position:sticky; top:var(--ht-top-header); background:var(--bg-table-header) ; color:#000000;
}

.annual-report-table thead th, .annual-report-table tbody td {
    padding:.75rem .2rem; font-size:.9rem; text-align:center; border-bottom:1px solid #525252; overflow:hidden; text-overflow:ellipsis; white-space:normal;
}

.annual-report-table tbody tr {
    border-bottom: 1px solid #444;
    transition: background-color 0.2s ease;
}

.annual-report-table tbody tr:hover {
    background-color: #3d3d3d;
}

/*.annual-report-table tbody td {
    padding: 0.75rem 1rem;
}*/

/*.annual-report-table td:first-child {
    color: #90caf9;
    font-weight: 500;
}*/

.annual-report-table .currency-cell {
    /*text-align: right;*/
    color: var(--accent);
    font-family: var(--font-mono);
    font-size: 1rem;
    font-weight: bold;
}

/*.annual-report-table tbody tr:last-child {
    border-bottom: 2px solid #1565c0;
}*/
